<div class="container footer_container">
  <div class="row">
    <div class="col-md-7 footer-left">

        <br>
        <div class="row d-flex justify-content-center">
            <div class="col-auto">
                <h3> Contactez Nous </h3>
            </div>
        </div>

        <br>

        <div class="row footer-form">
            <div class="col-6">
              <div class="col-12 footer-top">
                NOM COMPLET
              </div>
              <div class="col-12">
                <input type="text" name="fullname">
              </div>
            </div>

            <div class="col-6">
              <div class="col-12 footer-top">
                ADRESSE MAIL
              </div>
              <div class="col-12">
                <input type="email" name="adress">
              </div>
            </div>
        </div>

        <br>
        <div class="row footer-form">
            <div class="col-12">
              <div class="col-12 footer-top">
                OBJET
              </div>
              <div class="col-12">
                <input type="text" name="fullname">
              </div>
            </div>
        </div>
        <br>
        <div class="row footer-form">
            <div class="col-12">
              <div class="col-12 footer-top">
                MESSAGE
              </div>
              <div class="col-12">
                <textarea rows="5"></textarea>
              </div>
            </div>
        </div>
        <br>
        <div class="row d-flex justify-content-center">
            <div class="col-auto">
              <button class="btn btn-outline-danger">Envoyer le méssage</button>
            </div>
        </div>

        <br><br>

    </div>
    <div class="col-md-5 footer-right">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.439503219402!2d1.1576859147690413!3d6.205612195507649!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNsKwMTInMjAuMiJOIDHCsDA5JzM1LjYiRQ!5e0!3m2!1sen!2ssn!4v1621545263436!5m2!1sen!2ssn" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
  </div>
</div>
