<div class="container-fluid bg-light" id="changeContainer1">
      <div class="row d-flex justify-content-around align-items-center navbarC">
            <div class="col-auto">
                <img src="assets/img/old_logo.jpeg" class="rounded-circle logo_nav" alt="">
            </div>
            <div class="col-auto d-flex justify-content-center xs-only">

              <div class="col-auto daaa xs-only">
                <button type="button" class="btn" onclick="_display_Nav_Xs();"><img src="assets/img/ham.png" class="xs-only" alt=""></button>
              </div>

            </div>
            <div class="col-auto marginXs">
                  <button type="button" class="btn btn-success"><i class="fas fa-plug"></i>&nbsp;&nbsp;Se connecter</button>&nbsp;&nbsp;&nbsp;
                  <button type="button" class="btn btn-success"><i class="fas fa-plus"></i>&nbsp;&nbsp;S'enregistrer</button>
            </div>
      </div>

      <div class="row row d-flex justify-content-around align-items-center cotations">

          <div class="col-auto">
            <b>BTC/PM: </b>28393.13/26712.26 USD
          </div>

          <div class="col-auto">
            <b>LTC/PM: </b>140.30/127.95 USD
          </div>

          <div class="col-auto">
            <b>BTC/LTC: </b>210.83/198.37 LTC
          </div>

      </div>

      <div class="row d-flex justify-content-center noMarginXs">

          <div class="col-auto navBar">
                <button type="button" class="btn btn-danger nav-btn" id="exchange_btn" onclick="chooseNav(this)"  routerLink="echanges"><i class="fab fa-btc"></i>&nbsp;&nbsp;ECHANGES</button>
                <button type="button" class="btn btn-danger nav-btn" onclick="chooseNav(this)"  routerLink="faq"><i class="fas fa-question-circle"></i>&nbsp;&nbsp;FAQ</button>
                <button type="button" class="btn btn-danger nav-btn" onclick="chooseNav(this)"  routerLink="feedback"><i class="fas fa-comment-alt"></i>&nbsp;&nbsp;FEEDBACK</button>
                <button type="button" class="btn btn-danger nav-btn" onclick="chooseNav(this)"  routerLink="parteners"><i class="fas fa-hands-helping"></i>&nbsp;&nbsp;PARTENAIRES</button>
                <button type="button" class="btn btn-danger nav-btn" onclick="chooseNav(this)"  routerLink="contacts"><i class="fas fa-address-book"></i>&nbsp;&nbsp;CONTACTS</button>
                <button type="button" class="btn nav-btn" onclick="chooseNav(this)"  routerLink="contacts"><img src="assets/img/1Xbet.jpg" style="width: 40px;height: 35p;" alt=""></button>
          </div>

          <div class="col-auto navBarXs" id="toggleNavBarXs">
            <button type="button" class="btn btn-danger nav-btn" id="exchange_btnXs" onclick="chooseNav(this)"  routerLink="echanges"><i class="fab fa-btc"></i>&nbsp;&nbsp;ECHANGES</button>
            <button type="button" class="btn btn-danger nav-btn" onclick="chooseNav(this)"  routerLink="faq"><i class="fas fa-question-circle"></i>&nbsp;&nbsp;FAQ</button>
            <button type="button" class="btn btn-danger nav-btn" onclick="chooseNav(this)"  routerLink="feedback"><i class="fas fa-comment-alt"></i>&nbsp;&nbsp;FEEDBACK</button>
            <button type="button" class="btn btn-danger nav-btn" onclick="chooseNav(this)"  routerLink="parteners"><i class="fas fa-hands-helping"></i>&nbsp;&nbsp;PARTENAIRES</button>
            <button type="button" class="btn btn-danger nav-btn" onclick="chooseNav(this)"  routerLink="contacts"><i class="fas fa-address-book"></i>&nbsp;&nbsp;CONTACTS</button>
            <button type="button" class="btn nav-btn" onclick="chooseNav(this)"  routerLink="contacts"><img src="assets/img/1Xbet.jpg" style="width: 100%;height: 100%;" alt=""></button>
          </div>

      </div>

</div>
