<div class="row d-flex justify-content-center" style="border-bottom: dashed 1px black;">
  <div class="col-auto" style="color: black;font-weight: bold;font-size: 20px;height: 40px;">
        NOS CRYPTOS
  </div>
</div>
<div class="row d-flex justify-content-around alert alert-light" style="margin: 0px;width: 100%;">
  <div class="col-auto cryptoPartners">
        <img src="assets/img/btcPa.png" alt="">
  </div>

  <div class="col-auto cryptoPartners">
    <img src="assets/img/pmPa.png" alt="">
  </div>

  <div class="col-auto cryptoPartners">
    <img src="assets/img/ethPa.png" alt="">
  </div>

  <div class="col-auto cryptoPartners">
    <img src="assets/img/payeerPa.png" alt="">
  </div>

  <div class="col-auto cryptoPartners">
    <img src="assets/img/tronPa.png" alt="">
  </div>

  <div class="col-auto cryptoPartners">
    <img src="assets/img/dogePa.png" alt="">
  </div>

  <div class="col-auto cryptoPartners">
    <img src="assets/img/litePa.png" alt="">
  </div>

  <div class="col-auto cryptoPartners">
    <img src="assets/img/free.png" alt="">
  </div>

  <div class="col-auto cryptoPartners">
    <img src="assets/img/bttPa.png" alt="">
  </div>

  <div class="col-auto cryptoPartners">
    <img src="assets/img/twtPa.png" style="width: 100px;" alt="">
  </div>

  <div class="col-auto cryptoPartners">
    <img src="assets/img/npxsPa.png" style="width: 100px;" alt="">
  </div>

  <div class="col-auto cryptoPartners">
    <img src="assets/img/kinPa.png" alt="">
  </div>

  <div class="col-auto cryptoPartners">
    <img src="assets/img/win.png" class="rounded-circle" alt="">
  </div>

  <div class="col-auto cryptoPartners">
    <img src="assets/img/klvPa.png" class="rounded-circle" alt="">
  </div>

  <div class="col-auto cryptoPartners">
    <img src="assets/img/coti.png" class="rounded-circle" alt="">
  </div>

  <div class="col-auto cryptoPartners">
    <img src="assets/img/juldPa.png" class="rounded-circle" alt="">
  </div>

</div>
