<div class="container-id bg-light" id="changeContainer2">
  <div class="row d-flex justify-content-around exchange_main_row">

        <div class="col-10 col-md-5 col-lg-3 ninjamerPartnerCard">
              <img src="assets/img/partner1.png" alt="">
        </div>

        <div class="col-10 col-md-5 col-lg-3 ninjamerPartnerCard">
          <img src="assets/img/partner2.png" alt="">
        </div>

        <div class="col-10 col-md-5 col-lg-3 ninjamerPartnerCard">
          <a target="_blank" href="http://www.nbfconsulting.com"><img src="assets/img/logoNbf.png" alt=""></a>
        </div>

        <div class="col-10 col-md-5 col-lg-3 ninjamerPartnerCard">
          <img src="assets/img/billionCity.jpeg" alt="">
        </div>

  </div>
</div>
