<div class="container-fluid">
  <div class="container">

    <div class="row mainRow">

        <div class="col-md-4 welcome_option">
              <div class="imgOp" routerLink="/exchange">
                  <img src="assets/img/exchange1.png" alt="">
              </div>

              <p class="optionTiltle">
                  Echange de monnaie
              </p>

              <br>
              <p class="optionDesc">
                  Service d'échange de monnaies électroniques, consulter notre liste de stocks disponible
              </p>

              <br>
              <div class="readMore">
                    <button type="button" class="downloadApkButton" routerLink="/exchange">Voir Plus</button>
              </div>

        </div>

        <div class="col-md-4 welcome_option">
              <div class="imgOp" routerLink="/1XBET">
                  <img src="assets/img/big1XBET.png" alt="">
              </div>

              <p class="optionTiltle">
                Bookmaker fiable
              </p>

              <br>
              <p class="optionDesc">
                  Service de création, recharge et retrait de compte 1xbet
              </p>

              <br>
              <div class="readMore">
                    <button type="button" routerLink="/1XBET" class="downloadApkButton">Voir Plus</button>
              </div>

        </div>

        <div div class="col-md-4 welcome_option">
              <div class="imgOp" routerLink="/parteners">
                    <img src="assets/img/bpartner.png" alt="">
              </div>

              <p class="optionTiltle">
                Nos partenaires
              </p>

              <br>
              <p class="optionDesc">
                  La liste des sociétés partenaires et leurs services détaillés
              </p>

              <br>
              <div class="readMore">
                    <button type="button" routerLink="/parteners" class="downloadApkButton">Voir Plus</button>
              </div>

        </div>

    </div>
<br>
    <app-supported-cryptos></app-supported-cryptos>
    <br>

  </div>
</div>
